<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.x_packrat">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Our ContentProvider -->
        <provider
            android:name=".data.BelongingsProvider"
            android:authorities="@string/content_authority"
            android:exported="false" />

        <activity android:name=".EditorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".UsageLogsActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- This is required for immediate syncs -->
        <service
            android:name=".sync.UsageReminderIntentService"
            android:exported="false" />

        <!-- This is the Service declaration used in conjunction with FirebaseJobDispatcher -->
        <service
            android:name=".sync.UsageReminderFirebaseJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <activity android:name=".SettingsActivity"/>
        <activity android:name=".ChartsActivity" />
        <activity android:name=".UsageLogEditorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UsageLogsActivity" />
        </activity>
        <activity android:name=".EditDiscardedActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />
        </activity>>
        <activity android:name=".EditSoldActivity">
            <meta-data
               android:name="android.support.PARENT_ACTIVITY"
               android:value=".MainActivity" />
        </activity>
        <activity android:name=".EditDonatedActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>